@import "../../../mixins.scss";

.orbitComponent {
  
  padding: 20px 20px;
  border-radius: 20px;
  background-color: var(--white);
  position: relative;
  // border: 2px solid red;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  @include md {
    margin-left: 100px;
    margin-top: 30px;
    width: 500px;
    height: 600px;
  }
  .headingOrbit {
    font-size: 24px;
    font-weight: 600;
    .colorText {
      color: var(--blue);
    }
  }
  .subHeadingOrbit {
    color: var(--greay);
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
  .applyText {
    font-weight: 400;
    margin-top: 10px;
    color: var(--greay);
    font-size: 14px;
    text-align: center;
  }
  .termText {
    // margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
  }
  //////////////////////////////////////////
  .orbitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // border: 2px solid blue;
    width: 330px;
    height: 330px;
    @include md {
      margin-top: -10px;
      width: 500px;
      height: 550px;
    }
    .core,
    .react,
    .js,
    .python {
      position: absolute;
      // border: 1.5px solid var(--greay2);
      box-shadow: 0px 0px 16px -2px var(--blue);
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
      // animation: spinClockWise 30s linear infinite;
    }
    .core {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 120px;
      border: none;
      // box-shadow: 0px 1px 16px -2px var(--blue);
      img {
        padding: 10px;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        z-index: 1;
        // box-shadow: 0px 1px 16px -2px var(--blue);
      }
      img:hover{
        cursor: pointer;
        animation: spinClockWise 5s linear infinite;
      }
    }
    .react {
      width: 180px;
      height: 180px;
      // transition: all 1s ease;
      // box-shadow: 0px 1px 16px -2px var(--blue);
      animation: spinClockWise 30s linear infinite;
      @include md {
        width: 210px;
        height: 210px;
      }
    }
    .js {
      width: 230px;
      height: 230px;
      // box-shadow: 0px 1px 16px -2px var(--blue);
      animation: spinClockWise 30s linear infinite;
      @include md {
        width: 265px;
        height: 265px;
      }
    }
    .python {
      width: 280px;
      height: 280px;
      // box-shadow: 0px 1px 16px -2px var(--blue);
      animation: spinClockWise 30s linear infinite;
      @include md {
        width: 320px;
        height: 320px;
      }
    }

    .react::before,
    .js::before,
    .python::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      // background-color: var(--white);
      @include md {
        width: 40px;
        height: 40px;
      }
    }
    .react::after,
    .js::after,
    .python::after {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      // background-color: var(--white);
      @include md {
        width: 40px;
        height: 40px;
      }
    }

    .react::before {
      inset: -39.5px 0px 0px 100px;
      background-image: url("../../../assets/7423888_react_react native_icon.png");
      background-size: cover;
      animation: spinAntiClockWise 10s linear infinite;
      @include md {
        inset: -42.5px 0px 0px 122px;
      }
    }
    .react::after {
      top: 184px;
      left: 40px;
      background-image: url("../../../assets/redux-icon.png");
      background-size: cover;
      animation: spinAntiClockWise 10s linear infinite;
      @include md {
        top: 210px;
        left: 45px;
      }
    }
    .js::before {
      width: 42px;
      height: 42px;
      top: 85px;
      left: 210px;
      background-image: url("../../../assets/652581_code_command_develop_javascript_language_icon.png");
      background-size: cover;
      animation: spinAntiClockWise 10s linear infinite;
      @include md {
        width: 50px;
        height: 50px;
        top:95px;
        left: 238px
      }
    }
    .js::after {
      top: 115px;
      left: -15px;
      background-image: url("../../../assets/308444_javascrpt_js_library_long shadow_nodejs_icon.png");
      background-size: cover;
      animation: spinAntiClockWise 10s linear infinite;
      @include md {
        top: 145px;
        left: -15px;
      }
    }
    .python::before {
      top: 19px;
      left: 27px;
      background-image: url("../../../assets/4375050_logo_python_icon.png");
      background-size: cover;
      animation: spinAntiClockWise 10s linear infinite;
      @include md {
        top: 25px;
        left: 30px;
      }
    }
    .python::after {
      width: 42px;
      height: 42px;
      top: 228px;
      left: 210px;
      background-image: url("../../../assets/652579_code_command_develop_java_language_icon.png");
      // background-image: url("../../../assets/java.png");
      background-size: cover;
      animation: spinAntiClockWise 10s linear infinite;
      @include md {
        width: 50px;
        height: 50px;
        top: 250px;
        left: 245px;
      }
    }
  }
  //////////////////////////////////////////
  .backgroundShadow {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, auto);
    z-index: -1;
    .color {
      width: 90%;
      height: 90%;
    }
    filter: opacity(55%);
    .color:first-child {
      box-shadow: 0 0 115px hsla(3, 100%, 71%, 0.773);
    }
    .color:nth-child(2) {
      box-shadow: 0 0 115px rgba(148, 95, 246, 0.773);
    }
    .color:nth-child(3) {
      box-shadow: 0 0 115px rgba(55, 151, 210, 0.773);
    }
    .color:nth-child(4) {
      box-shadow: 0 0 115px #ff940a;
    }
  }
}

@keyframes spinClockWise {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinAntiClockWise {
  to {
    transform: rotate(-360deg);
  }
}
