@import "../../mixins.scss";
.home {
  // background-color: var(--white);
  padding-bottom: 30px;
  // border: 2px solid red;
  position: absolute;
  margin-top: 100px;
  // height: 2000vh;
  width: 100%;
  @include md {
    margin-top: 120px;
  }
  .heroSection {
    // border: 2px solid green;
    position: relative;
    padding-bottom: 30px;
    @include md {
      display: flex;
      gap: 20px;
    }
    .purpleArrow {
      display: none;
      @include md {
        display: block;
        position: absolute;
        left: 670px;
        top: 260px;
        // z-index: 5000000000000000000;
      }
    }
  }
  .tesimonSection {
    margin-bottom: 10px;
    // border: 2px solid blue;
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px 0;
    > div {
      text-align: center;
      @include md {
        text-align: left;
      }
    }
    .colorHeading {
      background: linear-gradient(276.97deg, #992fed, #2f80ed);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      // font-weight: 600;
      font-size: 15px;
      padding: 4px 0;
      @include md {
        font-size: 18px;
      }
    }
    .bigHeading {
      // width: 100%;
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      color: var(--black);
      padding: 4px 0;
      margin-top: 10px;
      @include md {
        text-align: left;
        font-size: 38px;
        width: 60%;
      }
      .colormiddleText {
        color: var(--blue);
      }
    }
  }
  .announecement {
    position: relative;
    // border: 2px solid blue;
    background-color: var(--blue3);
  }
  // .courses_cards{
  //   // padding: 20px;
  // }
  .enrollment {
    background-color: var(--blue3);
  }
  .instructors {
    margin-bottom: 50px;
  }
  .nsdc {
    background-color: #fef7e6;
  }
  .platform {
    margin-top: 50px;
  }
  .placementW {
    margin-top: 55px;
  }
  .featOn {
    margin-top: 50px;
    padding: 5px 0;
    background: linear-gradient(
      180deg,
      var(--white) 26.97%,
      rgba(187, 213, 250, 0.27)
    );
    margin-bottom: 80px;
  }
  .homeFooter {
    margin-top: 45px;
    border-top: 1px solid var(--greay2);
  }
  .fixedWhatsapp {
    display: none;
    @include md {
      display: inline;
      position: fixed;
      z-index: 9999999999999999999999;
      bottom: 10px;
      right: 7px;
      transition: all 0.2s ease;
      &:hover {
        transform: scale(1.08);
      }
      > img {
        height: 45px;
      }
    }
  }
  .show {
    transition: all 0.9s ease;
    // display: none;
    // transform: translateY(0%);
  }
  .hide {
    transition: all 0.9s ease;
    transform: translateY(500px);
  }
  .whatsappForphone {
    // transform: translateY(80px);
    padding: 0px 20px;
    z-index: 9999999999999999999999999;
    // opacity: 0;
    position: fixed;
    bottom: 00px;
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-around;
    // gap: 10px;
    background: var(--white);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.16);
    > div {
      padding: 10px 0px;
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: end;
      align-items: center !important;
    }
    > a {
      > img {
        height: 35px;
      }
    }
    @include md {
      display: none;
    }
  }
}
