@import "../../mixins.scss";
.home {
  // background-color: var(--white);
  padding-bottom: 30px;
  // border: 2px solid red;
  position: absolute;
  margin-top: 100px;
  height: 1000vh;
  width: 100%;
  @include md {
    margin-top: 120px;
  }
  .heroSection {
    // border: 2px solid green;
    padding-bottom: 30px;
    @include md {
      display: flex;
      gap: 20px;
    }
  }
  .tesimonSection {
    margin-bottom: 10px;
    // border: 2px solid blue; 
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px 0;
    > div{
      text-align: center;
      @include md{
        text-align: left;
      }
    }
    .colorHeading {
      background: linear-gradient(276.97deg, #992fed, #2f80ed);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      // font-weight: 600;
      font-size: 15px;
      padding: 4px 0;
      @include md {
        font-size: 18px;
      }
    }
    .bigHeading {
      // width: 100%;
      text-align: center;
      font-size: 24px;
      font-weight: 600;
      color: var(--black);
      padding: 4px 0;
      margin-top: 10px;
      @include md {
        text-align: left;
        font-size: 38px;
        width: 60%;
      }
      .colormiddleText {
        color: var(--blue);
      }
    }
  }
  .announecement{
    position: relative;
    // border: 2px solid blue;
    background-color: var(--blue3);
  }
  // .courses_cards{
  //   // padding: 20px;
  // }
  .enrollment{
    background-color: var(--blue3);
  }
  .nsdc{
    background-color: #fef7e6;
  }
}
