@import "../../../mixins.scss";

.platHeading_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  margin-bottom: 40px;
  @include md {
    gap: 8px;
  }
  .platColoredHeading {
    font-size: 14px;
    font-weight: 600;
    background: var(--gradient-2);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    @include md {
      font-size: 17px;
    }
  }
  .platBigHeading {
    font-size: 25px;
    font-weight: 600;
    color: var(--black);
    line-height: 150%;
    &::after {
      content: " Dream Job";
      color: var(--blue);
    }
    @include md {
      font-size: 40px;
    }
  }
  .platDes {
    font-size: 15px;
    line-height: 150%;
    color: var(--greay);
    @include md {
      width: 50%;
      font-size: 18.5px;
    }
  }
}
.platCarWrap {
  //   border: 2px solid black;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  //   background-color: var(--white);
  //   margin-left: 10px;
  padding: 0px 0px 0px 10px;
  @include md {
    display: none;
    // overflow-x: hidden;
  }
  .platCard {
    position: relative;
    margin: 10px 15px 30px 0;
    min-width: 310px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: var(--white);
    box-shadow: 0 1.82961px 36.5923px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    overflow: hidden;
    .platcard_top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      position: relative;
      padding: 15px;
      > span {
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
      }
      .fadedColor {
        position: absolute;
        width: 100%;
        bottom: 10px;
        height: 5px;
        filter: blur(11px);
      }
    }
    .platcard_mid {
      background: var(--white);
      position: relative;
      z-index: 2;
      margin: 15px;
      text-align: center;
      > div {
        position: relative;
        z-index: 2;
        // background-color: var(--blue);
        font-size: 17px;
        line-height: 160%;
        font-weight: 600;
        color: var(--black);
        margin-bottom: 10px;
      }
      > span {
        font-size: 12px;
        line-height: 150%;
        color: var(--greay);
      }
    }
    .platcard_bottom {
      //   position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 15px;
      z-index: 2;
      .platcardImg {
        z-index: 2;
        > img {
          width: 100%;
        }
      }
      .fadedColor_bottom {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 200px;
        opacity: 0.1;
        filter: blur(11px);
      }
    }
  }
}
///////////////////////////////////////////////////

.paltwrapBig {
  display: none;
  @include md {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }
}
.platBtn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  @include md {
    display: none;
  }
}
